@use './mixins' as *;

@view-transition {
  navigation: auto;
}

/* html {
  font-size: 62.5%;
} */

body {
  font-weight: 400;
  font-size: 1.15rem;
  /* font-size: 1.8rem; */
  line-height: 1.5;
  font-family: var(--font-body);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  background-color: var(--background-color);
  color: var(--foreground-color);
}

body::-webkit-scrollbar-track {
  background-color: var(--background-color);
}
body::-webkit-scrollbar {
  background-color: var(--background-color);
  width: 8px;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--link-color);
}

.darkmode {
  body {
    background-image:
      repeating-linear-gradient(
        to right,
        var(--bgGutter),
        var(--bgGutter) 1px,
        transparent 1px,
        transparent var(--bgGutterSize)
      ),
      repeating-linear-gradient(
        to bottom,
        var(--bgGutter),
        var(--bgGutter) 1px,
        transparent 1px,
        transparent var(--bgGutterSize)
      );
  }
}

a {
  transition: color var(--animation-speed-fast) var(--cubic-bezier);
  color: var(--link-color);

  &:where(:hover, :focus-visible) {
    color: var(--link-hover-color);
  }
}

main a,
footer a:not(.cta) {
  @include text-decoration(var(--link-color), var(--link-hover-color));

  color: var(--link-color);

  &:where(:hover, :focus-visible) {
    color: var(--link-hover-color);
  }

  &.external-link {
    display: inline-flex;
    align-items: center;
    gap: var(--space-3xs);

    // small visual correction
    svg {
      margin-block-start: 3px;
    }
  }
}

*:focus,
*:focus-visible {
  @include outline;
}

*:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}

.text-gradient {
  background: linear-gradient(
    315deg,
    light-dark(var(--color-primary-300), var(--color-secondary-100)) 25%,
    light-dark(black, var(--color-primary-200))
  );
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  margin-block-start: var(--space-s);
  margin-block-end: var(--space-s);

  hyphens: auto;
  word-break: break-word;
  overflow-wrap: anywhere;
}

summary.title h3 {
  font-size: var(--font-size-2);
  line-height: var(--font-size-3);
}

details p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.mediaBox {
  display: flex;
  position: relative;
  align-items: center;
  background: linear-gradient(
    315deg,
    light-dark(var(--color-primary-300), var(--color-secondary-100)) 25%,
    light-dark(black, var(--color-primary-200))
  );
  background-clip: border-box;
  padding: 10px;
}

.mediaBoxImg {
  display: flex;
  align-items: center;
  z-index: 3;
  inset: 0;
  width: 100%;
  height: 100%;
}

.mediaBoxBackdrop {
  position: absolute;
  /* backdrop-filter: blur(10px) grayscale(0.5) opacity(0.6); */
  opacity: 0.2;
  z-index: 2;
  inset: 0;
  background-color: black;
  width: 100%;
  height: 100%;
}

.darkmode .mediaBoxBackdrop {
  opacity: 0.8;
}

h2 {
  margin-top: var(--space-2xl);
}

h3 {
  margin-top: var(--space-xl);
}

h4 {
  margin-top: var(--space-l);
}
