@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base styles */
@layer base {
  body {
    color: theme('colors.gray.900');
  }
  .darkmode body {
    background-color: theme('colors.gray.900');
    color: theme('colors.white');
  }
}
