---
const { language, children } = Astro.props
---

<section class="bg-gray-100 px-6 py-12">
  <h2 class="mb-4 text-center text-2xl font-semibold">Example Code</h2>
  <div class="mx-auto max-w-3xl">
    <div>{children}</div>
  </div>
</section>
