---
import sanitizeHtml from 'sanitize-html'

/**
 * RTE Component
 *
 * @description RTE description
 */
interface Props {
  /**
   * Additional classes to apply to the RTE
   */
  class?: string
  /**
   * The content RTE element (filled by pages-cms)
   */
  content: string
}

const { class: className, content } = Astro.props

// Sanitize content HTML if present
const sanitizedContent = content
  ? sanitizeHtml(content, {
      allowedTags: [
        'p',
        'h1',
        'h2',
        'h3',
        'h4',
        'h5',
        'h6',
        'b',
        'i',
        'em',
        'strong',
        'a',
        'span',
        'br',
        'ul',
        'ol',
        'li',
        'code',
        'pre',
        'img',
        'table','thead','tbody','tfoot','tr','th','td'
      ],
      allowedAttributes: {
        a: ['href', 'title', 'target', 'rel'],
        span: ['class'],
        img: ['src', 'alt', 'title'],
        th: ['colspan', 'rowspan'],
        td: ['colspan', 'rowspan']
      },
    })
  : ''
---

<section class:list={[className, 'rte-content']}>
  <div class:list={['py-16']}>
    <div class="space-content container">
      {sanitizedContent && <div class="text-xl" set:html={sanitizedContent} />}
    </div>
  </div>
</section>

<style lang="scss" is:global>
  .rte-content {
      table {
        width: 100%;
        border-collapse: collapse;
        margin: 1rem 0;
        font-size: 0.95rem;

        th,
        td {
          border: 1px solid #ddd;
          padding: 0.5rem 0.75rem;
          text-align: left;
        }

        th {
          font-weight: 600;
        }

        /* tr:nth-child(even) {
          background-color: var(--color-neutral-500);
        } */
      }
  }
</style>
