---
import HeroBlock from '@/components/blocks/HeroBlock.astro'
import CardBlock from '@/components/blocks/CardBlock.astro'
import CodeBlock from '@/components/blocks/CodeBlock.astro'

import homepage from '@/content/pagescms.md'
const { frontmatter } = homepage
---

<main>
  {
    frontmatter.blocks.map((block) => {
      switch (block.type) {
        case 'hero':
          return <HeroBlock {...block} />
        case 'card':
          return <CardBlock {...block} />
        case 'code':
          return <CodeBlock language={block.language}>{block.code}</CodeBlock>
      }
    })
  }
</main>
