---
/**
 * Counter Component
 *
 * @description A component that displays a number with a title and subtitle
 */
interface Props {
  /**
   * The number to display
   */
  count: string | number
  /**
   * The title text to display below the count
   */
  title: string
  /**
   * The title text to display below the count
   */
  title2?: string
  /**
   * The subtitle text to display below the title
   */
  sub: string
}

const { count, title, title2, sub } = Astro.props
---

<div class="animate text-center">
  <p class="!my-0 text-6xl font-bold">{count}</p>
  <p class="!my-0 text-4xl font-semibold break-all">{title}</p>
  {title2 && <p class="!my-0 text-4xl font-semibold break-all">{title2}</p>}
  <p class="!my-0 text-2xl">{sub}</p>
</div>

<style lang="scss">
  div > p:first-child {
    color: var(--link-color);
  }
</style>
