---
import CallToAction from './CallToAction.astro'
import LinkComponent from './LinkComponent.astro'
import Logo from './Logo.astro'

/**
 * Footer Component
 *
 * @description A component that displays the footer of the website
 */
const currentYear = new Date().getFullYear()
---

<footer>
  <CallToAction />
  <section class="py-20">
    <h2 class="sr-only">Footer</h2>
    <div class="container grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4">
      <div class="flex flex-col gap-4">
        <h3 class="text-2xl font-bold">Navigation</h3>
        <ul class="flex flex-col gap-2">
          <li><a href="/">Home</a></li>
          <li>TBD</li>
          <!-- <li><a href="/blog">Blog</a></li>
          <li><a href="/portfolio">Portfolio</a></li> -->
        </ul>
      </div>
      <div class="flex flex-col gap-4">
        <h3 class="text-2xl font-bold">Page Highlights</h3>
        <ul class="flex flex-col gap-2">
          <li><a href="/about" title="What is this page about">About</a></li>
          <!-- <li><a href="/builders/overview/">Builders Overview</a></li> -->
          <li>TBD</li>
          <li><LinkComponent href="https://github.com/BuildOnTitanX/BuildOnTitanX/">GitHub</LinkComponent></li>
          <!-- <li><a href="/accessible-components">Accessible components</a></li>
          <li><a href="/color-contrast-checker">Color contrast checker</a></li>
          <li><a href="/markdown-page">Markdown page</a></li>
          <li><a href="/mdx-page">MDX page</a></li>
          <li><a href="/404-page">404 page</a></li> -->
        </ul>
      </div>
      <div class="flex flex-col gap-4">
        <h3 class="text-2xl font-bold">Community Links</h3>
        <ul class="flex flex-col gap-2">
          <li>
            <LinkComponent href="https://www.titanx.win/" title="TitanX Website - Mainpage explaining its Phylosophy"
              >TitanX Mainpage</LinkComponent
            >
          </li>
          <li>
            <LinkComponent href="https://app.titanx.win/stats" title="TitanX Dapp - Focusing on the Stats"
              >TitanX Dapp Stats</LinkComponent
            >
          </li>
          <li>
            <LinkComponent href="https://www.titanxhub.com/" title="Titan X Hub by Mike Dean">Titan X Hub</LinkComponent>
          </li>
          <li>
            <LinkComponent href="https://titanfarms.win/" title="The TitanX Farms - Simply add LP and earn TINC"
              >Titan Farms</LinkComponent
            >
          </li>
          <li>
            <LinkComponent href="https://titanxinfo.com/" title="TitanXInfo - TITANX Crypto For Beginners"
              >TitanX Info</LinkComponent
            >
          </li>
          <li>
            <LinkComponent
              href="https://www.titanxutils.com/"
              title="TitanXUtils - Your comprehensive dashboard for the TitanX ecosystem">TitanX Utils</LinkComponent
            >
          </li>
        </ul>
      </div>
      <div class="flex flex-col gap-4">
        <Logo loading="lazy" />
        <p class="leading-[1.75]">
          Tip: The TitanX Ecosystem is getting quite big, if you want to dig deeper into all the different Projects,
          please check out the <LinkComponent
            href="https://www.titanx.win/"
            title="Hyper Deflationary, Secure and Fair DeFi 3.0 Ecosystem">TitanX Mainpage</LinkComponent
          >
          <LinkComponent href="https://www.titanxhub.com/" title="Titan X Hub by Mike Dean">TitanX Hub</LinkComponent> or <LinkComponent
            href="https://titanxinfo.com/"
            title="TitanXInfo - TITANX Crypto For Beginners">TitanX Info</LinkComponent
          >
        </p>
        <!-- <p class="leading-[1.75]">
          Tip: always test for screen reader support. Press <kbd>⌘</kbd> + <kbd>F5</kbd> to start VoiceOver or <kbd
            >Win</kbd
          >
          + <kbd>Ctrl</kbd> + <kbd>Enter</kbd> for Narrator.
        </p> -->
      </div>
    </div>
  </section>
  <section class="py-8">
    <div class="container flex flex-col gap-4 md:flex-row md:justify-between">
      <p>
        &copy; {currentYear} - <a href="https://github.com/BuildOnTitanX/BuildOnTitanX/">#BuildOnTitanX</a>
      </p>
      <p>
        Made with ❤️ by <a href="https://x.com/Build0nTitanX">Nona Median</a>.
      </p>
    </div>
  </section>
</footer>

<style lang="scss">
  section {
    border-top: 1px solid var(--border-color-subtle);
  }
</style>
