---
import '../styles/tailwind.css'
import '../assets/scss/index.scss'
import SiteMeta from '../components/SiteMeta.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

const {
  title = 'TitanX — Grassroots Crypto, Built by Builders',
  description = 'A fair-launch, community-driven cryptocurrency on Ethereum, pushing ERC-20s to their full potential. Innovation by builders — rewarded for products users love.',
  url = Astro.site,
  image = 'social-preview-image.png',
  author = 'Nona Median',
} = Astro.props
---

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <SiteMeta title={title} description={description.substring(0, 160)} url={url} image={image} author={author} />
    <script async defer src="https://cloud.umami.is/script.js" data-website-id="1ed54d2c-514c-4577-a5cc-477964b671c4"
    ></script>
  </head>
  <body>
    <Header />
    <main id="main-content" transition:animate="fade">
      <slot />
    </main>
    <Footer />
    <style lang="scss" is:global>
      // sticky footer on low content pages
      html,
      body {
        height: 100%;
      }

      body {
        display: flex;
        flex-direction: column;
        overflow-x: clip;

        main {
          flex: 1 0 auto;
        }

        footer {
          flex-shrink: 0;
        }
      }

      pre {
        border: 2px solid var(--link-color);
        border-radius: 0.35rem;
        padding: 1rem;
      }
    </style>
  </body>
</html>
